<?xml version="1.0"?>
<package xmlns="http://schemas.microsoft.com/packaging/2010/07/nuspec.xsd">
  <metadata>
    <id>@@PACKAGE_ID@@</id>
    <title>@@TITLE@@</title>
    <version>0.0.0</version>
    <authors>José Valim</authors>
    <owners>Luke Bakken, Team RabbitMQ</owners>
    <summary>Elixir programming language</summary>
    <description>Elixir is a dynamic, functional language for building scalable and maintainable applications. Elixir runs on the Erlang VM, known for creating low-latency, distributed, and fault-tolerant systems.</description>
    <projectUrl>https://elixir-lang.org/</projectUrl>
    <projectSourceUrl>https://github.com/elixir-lang/elixir</projectSourceUrl>
    <packageSourceUrl>https://github.com/chocolatey-beam/au-packages</packageSourceUrl>
    <releaseNotes>https://github.com/elixir-lang/elixir/releases</releaseNotes>
    <tags>elixir erlang programming language functional</tags>
    <copyright>Copyright (c) 2012 Plataformatec</copyright>
    <licenseUrl>https://github.com/elixir-lang/elixir/blob/main/LICENSE</licenseUrl>
    <requireLicenseAcceptance>false</requireLicenseAcceptance>
    <iconUrl>https://github.com/chocolatey-beam/au-packages/raw/main/@@PACKAGE_ID@@/elixir-icon.png</iconUrl>
    <docsUrl>https://hexdocs.pm/elixir/</docsUrl>
    <mailingListUrl>https://elixir-lang.org/community.html</mailingListUrl>
    <bugTrackerUrl>https://github.com/elixir-lang/elixir/issues</bugTrackerUrl>
    <dependencies>
      <dependency id="erlang" version="@@ERLANG_DEPENDENCY@@" />
    </dependencies>
  </metadata>
  <files>
    <file src="tools/**" target="tools" />
  </files>
</package>
